* {
    margin:0;
    padding:0;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    text-align: center !important;
    overflow-x: hidden;
    background-color: whitesmoke !important;
}

.red {
    color: red;
}

.pseudosession {
    font-size: 25px;
    margin-top: -20px;
    color :#18BC9C;
}

#content {
    min-height:100%;
    margin:0 auto;
    position:relative;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    margin-top: -50px;
}

.scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, .5);
    line-height: 3.1rem;
}

.scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
}

.fa-chevron-up {
    font-size: 17px;
}

.card {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.btn-xl {
    margin-top: 10px;
}

.slider {
    background: url('../img/photosWeb/home2.jpg')center center/cover no-repeat !important;
    width:980px;
}

#homeSreen {
    margin-top: 50px;
}

.bienvenu {
    font-family: 'Pinyon Script', serif;
    color: #C89446; 
}

.bienvenu {
    line-height: 325px;
    margin-bottom: -130px;
}

.fa-desktop {
    font-size: 50px;
    margin-bottom: 30px;
}

.articlewrite {
    margin-top: 250px;
}

.masthead {
    height: 800px;
}

.pic {
    border: solid  #2C3E50 1px;
    border-radius: 100%;
}

.accroche {
    font-size: 24px;
    color: #18BC9C;
    margin-top: 90px; 
    background-color: whitesmoke;
}

.fa-envelope-open {
    font-size: 25px;
}

.btn-social {
    border-radius: 100% !important;
    width: 3.25rem;
    height: 3.25rem;
}

.legalM{
    text-align:center;
}

.legal{
    text-align:justify;
}

.register {
    margin-top: 250px;
}

.fa-linkedin-in,
.fa-twitter,
.fa-facebook-f,
.fa-github-square {
    font-size: 28px;
    text-align: center;
    margin-top: 4px;
    margin-left: -2px;
    color: white;
}

.error {
    font-size: 50px;
    color: red;
    margin-top: 200px;
    background-color: whitesmoke;
    position: absolute;
    margin-left: 340px;
}

@media only screen and (min-width: 1100px) {

     .slider {
        height: 1300px;
        width: 1580px;
    }

    .error {
        margin-left: 630px;
        margin-top: 350px;
    }

    .accroche {
        font-size: 18px;
        color: white;
        margin-top: -20px;
        background-color: transparent;
    }

    .bienvenu {
        font-size: 50px;
        line-height: 455px;
        margin-bottom: -190px;
    }
}

@media only screen and (min-width: 1700px) {

    .slider {
        height: 1300px;
        width: 1920px;
    }
    .error {
        margin-left: 800px;
    }

}
